body{
    font-family: 'Poppins', sans-serif;
}
#baground-color{
    background-color: #264653;
}
#grayscales{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
#grayscale{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
#custom-color{
    color: #E76F51;
}