#baground-color{
    background-color: #264653;
}
#button{
    background-color: #E76F51;
}
#grayscales{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
#grayscale{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
